.ItemLinkStyle {
    border-top: 1px solid #ccc;
    padding: 15px;
    height: 80px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    cursor: pointer;
    transition: .2s all;
    width: 100%;
    &:hover {
        background: #fff;
    }
    &:last-child {
        border-bottom: 1px solid #ccc;
    }
}